* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: #00385d;
    --white: whitesmoke;
    --red: #e50022;
}

header {
    background-color: var(--navy);
}

nav {
    display: flex;
    align-items: center;
    height: 12vh;
    width: 90%;
    margin: auto;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}

.nav-logo {
    height: 8vh;
    border-radius: 5px;
}


/* Home Page */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.hero-article {
    line-height: 1.5;
}

.hero-article h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5em;
}

.hero-article p {
    font-size: 1.3rem;
    color: rgb(75, 73, 73);
    margin-bottom: 1em;
}

.hero-article .cta-btn {
    border: 1px solid var(--red);
    color: var(--red);
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1.3rem;
    border-radius: 5px;
}

.hero-article .cta-btn:hover {
    background-color: var(--red);
    color: var(--white);
    transition: 0.3s;
}

.hero-logo {
    height: 15vh;
    border-radius: 5px;
    margin-bottom: 10px;
}